/* CSS Variables */
:root {
    --text-block: #f9cdcd;
    --header-font: Arial, Helvetica, sans-serif;
}
/* Class Selectors */
body {
margin: 0;
background-color: #f4f4f4;
}
header {
    background-color: #00031c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--header-font);
}
h1 {
    font-size: 50px;
    color: #00031c;
    background-color: var(--text-block);
    width: fit-content;
    padding: 5px 20px 5px 50px;
}
header li, a{
    display: inline;
    color: var(--text-block);
    font-size: 25px;
    padding: 10px;
}
main {
    margin: 50px;
    font-family: var(--header-font);
}

figure {
    margin: 0;
    font-family: var(--header-font);
    position: relative;
}

/* class selectors */
.text-block {
    position: relative;
    bottom: 150px;
    left: 75%;
    width: fit-content;
    padding: 0 15px 0 15px ;
    background-color: var(--text-block);
    color: #00031c;
    font-size: 30px;
}

.nav-section {
    display: flex;
}

.nav-section > h2{
    width: 20%;
    border-right: 5px solid;
    position: relative;
    font-size: 40px;
}

.nav-section .content {
    padding: 40px; 
    width: 80%
 }
 .container {
    width: 955px;
    height: 500px;
 } 
    
.container , .row-container {
    border: 6px solid var(--text-block);
    margin: 10px;
    opacity: 0.6;
  transition: 0.3s;
} 
.container:hover {opacity: 1}
.container-textbox {
    position: relative;
    bottom: 140px;
    height: 80px;
    width: fit-content;
    padding: 0 30px 0 60px;
    background-color: var(--text-block);
    color: #00031c;
    font-size: 20px;
}

.row-container {
   display: inline-flex;
   position: relative;
   width: 460px;
}

.row-container:hover {opacity: 1} 
.row-textbox {
    position: relative;
    top: 90px;
    right: 465px;
    height: 60px;
    padding: 0 20px 0 20px;
    background-color: var(--text-block);
    color: #00031c;
    font-size: 14px; 
}
.row-textbox > h3 {
    width: max-content;
    line-height: 5px;
}

.nav-bar {
   display: inline;
   color: #00031c;
   font-size: 20px;
   padding-left: 30px;
} 


/* @media screen and (max-width: 600px) {
    body {
        max-width: 100%;
    }

  } */